#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffff;
}
.catalogue {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_price {
  color: red;
}

.black_letters {
  color: #fff;
  background-color: black;
  width: 600px;
  margin-left: 120px;
}

.item_car img {
  border-radius: 5px;
}

#text_titulo {
  font-size: 42px;
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #tachado{
  text-decoration:line-through;
  color: red;
} */

@media screen and (min-width: 768px) {
  #text_titulo {
    font-size: 72px;
  }
}
